

<form>
  <div class="form-group my-3">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
     placeholder="Enter email" name="email" [(ngModel)]="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>


  <div class="form-group my-3">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword_110" placeholder="Password"
     name="password" [(ngModel)]="password">
  </div>

  <div class="form-group my-3">
    <label for="exampleInputPassword2">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword_112" placeholder="Repeat Password"
     name="password2" [(ngModel)]="confirmPassword">
  </div>

  <div class="form-check my-2">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" name="checknox">
    <label class="form-check-label" for="exampleCheck1">Is Admin</label>
  </div>


  <button type="button" class="btn btn-primary my-2" (click)="onSubmitClicked()">Submit</button>
</form>
